################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Complex Password Generator/NET Core Platform/bin
/Complex Password Generator/NET Core Platform/obj
/Complex Password Generator/NET Framwork Platform/bin
/Complex Password Generator/NET Framwork Platform/obj
